<footer class="footer mt-3">
    <div class="f-social">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info">
        <i class="fa-regular fa-copyright"></i>
        2025 AirBNB, Inc.
    </div>
    <div class="f-links">
        <a href="">Privacy</a><a href="">Terms</a><a href="">Sitemap</a><a href="">Company Details</a>
    </div>
</footer>